{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard Parkir Mahasiswa UMS</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand">
                <img src="{% static 'images/logo.png' %}" alt="Logo" width="350" height="51"
                    class="d-inline-block align-text-top"> 
            </a>

            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
        </div>
    </nav>

    <div class="container-fluid px-5">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row table-wrapper-fix">
                        <div class="col-sm-6">
                            <h2>Manage Data <b>Mahasiswa</b></h2>
                        </div>
                        <div class="col-sm-6">
                            <a href="#addMahasiswaModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add Data Mahasiswa</span></a>						
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <tr>
                                <th>NIM</th>
                                <th>Nama</th>
                                <th>Fakultas</th>
                                <th>Jurusan</th>
                                <th>Nomer HP</th>
                                <th>Merk Kendaraan</th>
                                <th>Nomer Plat</th>
                                <th>QR-Code Mahasiswa</th>
                                <th>QR-Code Kendaraan</th>
                                <th>Last Out Kendaraan</th>
                                <th>Screenshoot</th>
                                <th>Action</th>
                            </tr>
                    </thead>
                    <tbody>
                        {% if mahasiswas %}
                            {% for mahasiswa in mahasiswas %}
                            <tr>
                                <td>{{ mahasiswa.nim }}</td>
                                <td>{{ mahasiswa.nama }}</td>
                                <td>{{ mahasiswa.fakultas }}</td>
                                <td>{{ mahasiswa.jurusan }}</td>
                                <td>{{ mahasiswa.no_hp }}</td>
                                <td>{{ mahasiswa.merk_kendaraan }}</td>
                                <td>{{ mahasiswa.plat_nomor }}</td>
                                <td>
                                    {% if mahasiswa.qr_code %}
                                        <img src="{{ mahasiswa.qr_code.url }}" alt="QR-Code Mahasiswa" width="50">
                                    {% else %}
                                        Tidak ada QR-Code
                                    {% endif %}
                                </td>
                                <td>
                                    {% if mahasiswa.qr_code %}
                                        <img src="{{ mahasiswa.qr_code_kendaraan.url }}" alt="QR-Code Kendaraan" width="50">
                                    {% else %}
                                        Tidak ada QR-Code
                                    {% endif %}
                                </td>
                                <td>
                                    {{ mahasiswa.last_out_kendaraan|default:"-" }}
                                </td>
                                <td>
                                    {% if mahasiswa.screenshot %}
                                        {% for screenshot in mahasiswa.screenshot %}
                                            <a href="{{ screenshot.url }}" target="_blank">
                                                <img src="{{ screenshot.url }}" alt="Screenshot" width="50">
                                            </a>
                                        {% endfor %}
                                    {% else %}
                                        Tidak ada screenshot
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="#editMahasiswaModal" class="edit btn-edit" data-toggle="modal" data-nim="{{ mahasiswa.nim }}"
                                            data-nama="{{ mahasiswa.nama }}"
                                            data-fakultas="{{ mahasiswa.fakultas }}"
                                            data-jurusan="{{ mahasiswa.jurusan }}"
                                            data-no_hp="{{ mahasiswa.no_hp }}"
                                            data-merk_kendaraan="{{ mahasiswa.merk_kendaraan }}"
                                            data-plat_nomor="{{ mahasiswa.plat_nomor }}"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                    <a href="#deleteMahasiswaModal" class="delete" data-toggle="modal" data-nim="{{ mahasiswa.nim }}"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="12" style="text-align:center;">Tidak ada data mahasiswa</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <!-- Paginator -->
                <div class="clearfix">
                    <div class="hint-text">Showing <b>{{ page_obj.start_index }}</b> to <b>{{ page_obj.end_index }}</b> of <b>{{ page_obj.paginator.count }}</b> entries</div>
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a></li>
                        {% else %}
                            <li class="page-item disabled"><a href="#" class="page-link">Previous</a></li>
                        {% endif %}
                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <li class="page-item active"><a href="#" class="page-link">{{ num }}</a></li>
                            {% else %}
                                <li class="page-item"><a href="?page={{ num }}" class="page-link">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a></li>
                        {% else %}
                            <li class="page-item disabled"><a href="#" class="page-link">Next</a></li>
                        {% endif %}
                    </ul>
                </div>
                <!-- End Paginator -->
            </div>
        </div>        
    </div>

    <!-- Adding data Modal HTML -->
    <div id="addMahasiswaModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="modal-header">						
                        <h4 class="modal-title">Add Data Mahasiswa</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <div class="form-group">
                            <label for="id_nim">NIM</label>
                            <input type="text" class="form-control" id="id_nim" name="nim" required>
                        </div>
                        <div class="form-group">
                            <label for="id_nama">Nama</label>
                            <input type="text" class="form-control" id="id_nama" name="nama" required>
                        </div>
                        <div class="form-group">
                            <label for="id_fakultas">Fakultas</label>
                            <input type="text" class="form-control" id="id_fakultas" name="fakultas" required>
                        </div>
                        <div class="form-group">
                            <label for="id_jurusan">Jurusan</label>
                            <input type="text" class="form-control" id="id_jurusan" name="jurusan" required>
                        </div>
                        <div class="form-group">
                            <label for="id_no_hp">No HP</label>
                            <input type="text" class="form-control" id="id_no_hp" name="no_hp" required>
                        </div>
                        <div class="form-group">
                            <label for="id_merk_kendaraan">Merk Kendaraan</label>
                            <input type="text" class="form-control" id="id_merk_kendaraan" name="merk_kendaraan" required>
                        </div>
                        <div class="form-group">
                            <label for="id_plat_nomor">Plat Nomor</label>
                            <input type="text" class="form-control" id="id_plat_nomor" name="plat_nomor" required>
                        </div>				
                    </div>				
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-success" value="Add">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Edit Modal HTML -->
    <div id="editMahasiswaModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" action="{% url 'edit_mahasiswa' %}">
                    {% csrf_token %}
                    <div class="modal-header">						
                        <h4 class="modal-title">Edit Mahasiswa</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="nim">
                        <div class="form-group">
                            <label>Nama</label>
                            <input type="text" class="form-control" name="nama" required>
                        </div>
                        <div class="form-group">
                            <label>Fakultas</label>
                            <input type="text" class="form-control" name="fakultas" required>
                        </div>
                        <div class="form-group">
                            <label>Jurusan</label>
                            <input type="text" class="form-control" name="jurusan" required>
                        </div>
                        <div class="form-group">
                            <label>No HP</label>
                            <input type="text" class="form-control" name="no_hp" required>
                        </div>
                        <div class="form-group">
                            <label>Merk Kendaraan</label>
                            <input type="text" class="form-control" name="merk_kendaraan" required>
                        </div>
                        <div class="form-group">
                            <label>Plat Nomor</label>
                            <input type="text" class="form-control" name="plat_nomor" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-info" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <!-- Delete Modal HTML -->
    <div id="deleteMahasiswaModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" action="{% url 'delete_mahasiswa' %}">
                    {% csrf_token %}
                    <input type="hidden" name="nim" id="delete_nim">
                    <div class="modal-header">						
                        <h4 class="modal-title">Delete Mahasiswa</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <p>Apakah Anda yakin ingin menghapus Record Data ini?</p>
                        <p class="text-warning"><small>Tindakan ini tidak dapat dibatalkan.</small></p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
<script>
// Javascript function untuk menghapus data mahasiswa
$(document).ready(function(){
    // Pass NIM to delete modal
    $('.delete').click(function(){
        var nim = $(this).data('nim');
        $('#delete_nim').val(nim);
    });
});

// javascript function untuk mengedit data mahasiswa
$('#editMahasiswaModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal

    // Extract data attributes
    var nim = button.data('nim');
    var nama = button.data('nama');
    var fakultas = button.data('fakultas');
    var jurusan = button.data('jurusan');
    var no_hp = button.data('no_hp');
    var merk_kendaraan = button.data('merk_kendaraan');
    var plat_nomor = button.data('plat_nomor');

    var modal = $(this);

    // Set values in modal
    modal.find('input[name="nim"]').val(nim);
    modal.find('input[name="nama"]').val(nama);
    modal.find('input[name="fakultas"]').val(fakultas);
    modal.find('input[name="jurusan"]').val(jurusan);
    modal.find('input[name="no_hp"]').val(no_hp);
    modal.find('input[name="merk_kendaraan"]').val(merk_kendaraan);
    modal.find('input[name="plat_nomor"]').val(plat_nomor);
});
</script>
</html>